{% extends 'flights/base.html' %}

{% block title %}
  Flight {{flight.origin.code}} - {{flight.destination.code}}
{% endblock %}

{% block body %}
  <h1>{{flight}} </h1>
  {% for passenger in  passengers %}
  <li>{{passenger}}</li>
  {% empty %}
  <li> No Passengers</li>
  {% endfor %}
  </ul>
  <a href="{% url 'flight_list' %}">Back to List</a>
  <ul>
  <br>
  <h2> Add a passenger </h2>

  {% if non_passengers %}
    <form action={% url 'flight_booking' flight.id %} method="post">
      {% csrf_token %}
      <select name="passenger">
          {% for passenger in non_passengers %}
            <option value="{{passenger.id}}">{{passenger}}</option>
          {% endfor %}
          <input type ="submit" value="Book Flight"/>
        </select>
    </form>
  {% else %}
    <div> No passengers to add.</div>
  {% endif %}

{% endblock %}
